:host{
    display: flex;
    height: 100%;
    flex-flow: column;

    .all-container{
        overflow: unset;
        height: 100%;
        display: flex;
        flex-flow: column;
    }

    .activity-header{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .activity-info{
        background-color: blueviolet;
        border-radius: 10px;
        padding: 15px;

        .desc{
            color: whitesmoke
        }
        .desc-title
        {
            color: white;
        }
        .desc-date{
            margin-top: 20px;
            color: whitesmoke;
        }
    }

    .activity-actions{
        margin: 10px 0;
        display: flex;
        justify-content: flex-end;
    }

    .close-button{
        position: absolute;
        top: -20px;
        right: -20px;
    }
}