<button mat-mini-fab color="warn" class="close-button" (click)="closeDialog()"> 
  <mat-icon>close</mat-icon>
</button>
<div class="all-container">
  <div class="activity-header">
    <h1 class="">{{title}} ({{points}} puntos)</h1><span> Publicada por {{autor}} </span>
  </div>
  <div class="activity-info">
    <h2 class="desc-title">Descripcion de la actividad</h2>
    <span class="desc">{{description}}</span>
    <h4 class="desc-date"><b>Fecha limite de entrega : {{delivery_date}}</b></h4>
  </div>
  <div class="activity-actions">
    <button mat-raised-button color="primary">Agregar entrega</button>
  </div>
</div>