<button mat-mini-fab color="warn" class="close-button" (click)="closeDialog()"> 
  <mat-icon>close</mat-icon> 
</button>
<div class="all-container">
  <div class="mt-5" style="background-color:  #3f51b5;width: 100%;height: 200px;color: white;">
    <div>
      <h1 class="">{{title}} fsdf</h1>
      {{autor}}
    </div>
    <div>

    </div>
    Descripcion de la actividad:
    {{description}}
  </div>
  {{delivery_date}} : Puntos = {{points}}
</div><!--  -->
<!--
<div style="display: flex; margin:  31px;">
  <button mat-raised-button color="primary"(click)="fnNewClass()">
    <mat-icon>add</mat-icon>Agregar nueva clase
  </button>
</div>-->