:host{
    .container{
        padding: 50px 0 0 0;
    }

    .group-header{
        background-image: url('../../../assets/clase.jpg');
    }
    
    .panel{
        margin: 25px 0 !important;
    }

    .course-panel{
        width: 100%; 
        height: 200px !important;
        mat-panel-title{
            height: -webkit-fill-available;
            padding: 25px;
            color: white;
            font-size: 26px;
        }
    }

    .activity-panel{
        width: 100%;
        margin: 25px 0;
        height: 80px !important;
        font-size: 20px;
        mat-panel-description{
            display: flex;
        }
    }

    
    .activity-container{
        display: flex;
        flex-flow: column;
        .description{
        }
        .buttons{
            display: flex;
            flex-flow: row;
            justify-content: flex-end;
            width: 100%;
            margin: 10px 0;
            button{
                margin: 0 10px;
            }
        }
    }

    .extra-buttons{
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        width: 100%;
        button{
            margin: 0 10px;
        }
    }

    .course-title{
        height: 100%;
        display: flex; 
        flex-flow: column;
        >*{
            padding: 10px 0;
        }
    }
}