<div class="container">

  <mat-accordion>
    <mat-expansion-panel class="group-header">
      <mat-expansion-panel-header class="course-panel" [collapsedHeight]="'200px'" [expandedHeight]="'300px'">
        <mat-panel-title>
          <div class="course-title">
            <span>Clase</span>
            <span>{{ this.clasObj?this.clasObj.name?this.clasObj.name:"":""}}</span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>


      <p class="m-3">Descripcion del clase:{{ this.clasObj?this.clasObj.description?this.clasObj.description:"":""}}
      </p>
      <div class="extra-buttons">
        <button mat-raised-button color="primary" (click)="createActivity()">Crear actividad</button>
        <button mat-raised-button color="primary" (click)="showParticipants()">Ver participantes de la clase</button>
        <button mat-raised-button color="primary" (click)="activities.openAll()">Ver todas las actividades</button>
        <button mat-raised-button color="primary" (click)="activities.closeAll()">Ocultar todas las actividades</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- Activities -->
  <mat-accordion multi #activities="matAccordion">
    <!-- Activity -->
    <mat-expansion-panel class="panel" *ngFor="let mat of material">
      <mat-expansion-panel-header class="activity-panel">
      
        <mat-panel-title>
          {{mat.title}}
        </mat-panel-title>
        <mat-panel-description style="justify-content: flex-end;">
         <!-- {{mat.autor}}-->
          
        </mat-panel-description>
       
      </mat-expansion-panel-header>

      <div class="activity-container">
       
        <div class="description">
          {{mat.description}}
        </div>
        <div class="buttons">
          <button mat-icon-button color="primary"  (click)="deleteActivity(mat)" style="justify-content: flex-end;">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-raised-button color="primary" (click)="editActivity(mat)">Editar actividad</button>
          <button mat-raised-button color="primary" (click)="showActivity(mat)">Ir a la actividad</button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>


</div>
