<div class="row">
    <div class="col-md-4" style="padding: 10px;" *ngFor="let group of groups;let i = index">
        <div class="card" >
            <div class="card-header">
                <div style="display: flex;">
                    <div>
                        <div class="form-check">
                            <input [disabled]="disabled" type="checkbox" class="form-check-input" [id]="'hcb-'+i+group._name" (change)="fnChangeGroupSelection($event,i)">
                        </div>
                        
                    </div>
                    <div style="flex-grow: 1;display: flex;flex-direction: column;justify-content: center;align-items: center;">
                        <h6>{{group._name}}</h6>
                    </div>
                    
                    
                    
                </div>
            </div>
            <div class="card-body">
                <div class="form-check" *ngFor="let item of group._items;let j = index">
                    <input [disabled]="disabled" (change)="fnChangeGroupItemSelection($event,i,j)" type="checkbox" class="form-check-input" [id]="'cb-'+item._control">
                    <label class="form-check-label" for="exampleCheck1">{{item._name}}</label>
                </div>
            </div>
        </div>
    </div>
</div>