<div class="container mt-5 d-flex flex-column">
    <h2 class="mat-h2">Clases</h2>
    <div class="cards-container">
    <ng-container *ngFor = "let class of classArray">
    <mat-card  class="group-card"> 
        <mat-card-header (click)="seleccionClase(class)">
            <mat-icon mat-card-avatar>note</mat-icon>
          
          <mat-card-title color="primary" >{{class.name}}</mat-card-title>
          <mat-card-subtitle>Clase</mat-card-subtitle>
        </mat-card-header >
      
        <img mat-card-image  class="image" src="../../../assets/clase.jpg"alt="Imagen">
        <mat-card-content style="cursor: pointer;" (click)="seleccionClase(class)">
        
      
             <p>
               Impartida por:
               {{
                class?
                class.teachers[0]?
                class.teachers[0]?.name:''
                    :''
            }}
            {{
              class?
              class.teachers[0]?
              class.teachers[0]?.last_name:''
                  :''
          }}
               
      
        
          </p>
          
          <p>
            Numero de estudiantes inscritos:
            {{
            
             class.students.length
         }}
            
   
     
       </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </ng-container>
     
</div>
<!--   <button mat-button  color="primary"(click)="seleccionClase(clase)">Entrar</button>-->