<mat-toolbar color="primary">
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>UaaAulaVirtual</h1>
    <span class="menu-spacer"></span>
    <div>
      <button mat-button [routerLink]="'/accounts'"> Login </button>
      <button mat-button [routerLink]="'/create-account'"> Crear cuenta </button>
      <button mat-button [routerLink]="'/group'"> Grupos </button>
    </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/accounts'"> Inicio </a>
      <a mat-list-item [routerLink]="'/create-account'"> Categorias </a>
      <a mat-list-item [routerLink]="'/contacts'"> Mis grupos </a>
      <a mat-list-item [routerLink]="'/create-contact'"> Actividades </a>

      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Cerrar</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
