<div class="container">




  <mat-card class="example-card mt-5">
    <h1>Editar grupo</h1>
    <form-suite [settings]="settings_form" [tool]="'form-generator'" (onSubmit)="fnOnSend($event)">
    </form-suite>


  </mat-card>


  <div style="display: flex; margin:  31px;">
    <button mat-raised-button color="primary"(click)="fnNewClass()">
      <mat-icon>add</mat-icon>Agregar nueva clase
    </button>
  </div>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element;let i = index"> {{i+1}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element"> <button mat-icon-button color="primary"(click)="deleteClass(element)">
        <mat-icon>delete</mat-icon>
      </button> </td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
 



</div>

