<form [formGroup]="S2FormGroup">
  <div class="input-form">
    <!--<label [for]="id">{{fnGetInputLabel()|async}}</label>
    <select *ngIf="!sending" [id]="id" class="form-control" [formControl]="S2FormControl" (change)="fnChange($event)">
      <option *ngFor="let option of _selectOptions|async" [value]="option[valueKey]">{{option[optionKey]}}</option>
    </select>
    <input type="text" class="form-control" disabled [value]="fnGetValue()" *ngIf="sending">
  -->

    
    <mat-form-field appearance="outline" class="example-full-width" >
      <mat-label>{{fnGetInputLabel()|async}}</mat-label>
      <mat-select *ngIf="!sending" [id]="id"  [formControl]="S2FormControl" (change)="fnChange($event)">
        <mat-option *ngFor="let option of _selectOptions|async" [value]="option[valueKey]">{{option[optionKey]}}</mat-option>
      
      </mat-select>
      <input type="text"  disabled [value]="fnGetValue()" *ngIf="sending">
    </mat-form-field>
  </div>
</form>